2   = numero de centros de teste
2   = numero de pessoas a ser testadas ao mesmo tempo 
20  = idade media de casos positivos
30  = numero de pessoas de risco que estao na fila
70  = numero de pessoas normais que estao na fila
200 = numero de pessoas para a simulacao
20  = probabilidade de desistir estando no grupo de risco
40  = probabilidade de desistir estando no grupo Normal
50  = probabilidade de estar efetado sendo crianca
10  = probabilidade de estar efetado sendo adulto
20  = probabilidade de estar efetado sendo idoso
40  = probabilidade de ser uma pessoa de risco