2   = numero de pessoas a ser testadas ao mesmo tempo 
102  = numero maximo de pessoas na fila
30  = numero maximo de casos em estudo
70  = numero maximo de internados 
500 = numero de pessoas para a simulacao
20  = probabilidade de desistir estando no grupo de risco
40  = probabilidade de desistir estando no grupo Normal
50  = probabilidade de estar efetado sendo crianca
10  = probabilidade de estar efetado sendo adulto
20  = probabilidade de estar efetado sendo idoso
40  = probabilidade de ser uma pessoa de risco